{% include 'head.twig' %}
<body>
    <div class="container">
        {% include 'nav.twig' %}
        <div class="jumbotron">
            <h2>paste things</h2>
            <p>
            <form name="paste" action="/add" method="post" enctype="multipart/form-data" id="paste">
                <p class="text-info">name <input type="text" name="name" value="" maxlength="60"> (optional)</p>
                </p>
                <textarea name="content" rows="40" cols="400"></textarea>
                <br>
                <select name="language" class="select input-sm" title="choose a language for syntax highlighting">
                    <option value="bash">bash</option>
                    <option value="cpp">c++</option>
                    <option value="c#">c#</option>
                    <option value="css">css</option>
                    <option value="diff">diff</option>
                    <option value="java">java</option>
                    <option value="javascript">javascript</option>
                    <option value="perl">perl</option>
                    <option value="php">php</option>
                    <option value="plain" selected="selected">plain</option>
                    <option value="python">python</option>
                    <option value="ruby">ruby</option>
                    <option value="sql">sql</option>
                    <option value="xml">xml</option>
                </select>
                <br>
                <p class="text-info">
                    private <input type="checkbox" name="visible" value="false"><img src="/images/icon_padlock.gif"  title="check for private paste" >
                </p>   
                <p class="text-info"> tag <input type="text" name="tag" value="" maxlength="30" title="tag your pastes so they can be grouped"> (optional) </p>
                <p>
                    <input type="submit" value="Submit" title="lets go!" class="btn btn-lg btn-success">
                </p>
            </form>
            </p>
        </div>
        <div class="row marketing">
            {% for item in array%}
            <div class="col-lg-6">
                <h4><a href="/{{ item.uuid }}">{{ item.name }} - <small>{{ item.language }}</small></a><small><a href="/tag/{{ item.tag }}"> {{ item.tag }}</a></small></h4>
            </div>
            {% endfor %}
        </div>
        {% include 'footer.twig' %}
    </div>
</body>
</html>